@page "/Login"
<h3>Login</h3>

<Container>
    <Row>
        <Column>
            <Tabs @bind-SelectedTab="@SelectedTab" Pills FullWidth>
                <Items>
                    <Tab Name="login">Login</Tab>
                    <Tab Name="register">Register</Tab>
                </Items>
                <Content>
                    <TabPanel Name="login">
                        <Card>
                            <CardBody>
                                <CardTitle>
                                    Welcome Back, Please Login
                                </CardTitle>
                            </CardBody>
                            <CardBody>
                                <Validations @ref="@loginValidationsRef" Mode="ValidationMode.Manual" ValidateOnLoad="false">
                                    <Validation Validator="ValidationRule.IsNotEmpty">
                                        <Field>
                                            <FieldLabel>Email</FieldLabel>

                                            <TextEdit Placeholder="Enter email...">
                                                <Feedback>
                                                    <ValidationNone>Please Enter Your Email. </ValidationNone>
                                                    <ValidationSuccess>Email is good</ValidationSuccess>
                                                    <ValidationError>Please Enter A Valid Email</ValidationError>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Field>
                                        <FieldLabel>Password</FieldLabel>
                                        <TextEdit Placeholder="Enter Password.." />
                                    </Field>
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="@rememberMe">Remember Me</Check>
                                    </Field>
                                </Validations>
                            </CardBody>
                            <CardBody>
                                <Button Color="Color.Primary" Clicked="@OnLoginClicked">Login</Button>
                                <Button Color="Color.Secondary">Forgot Password</Button>
                            </CardBody>
                        </Card>
                    </TabPanel>
                    <TabPanel Name="register">
                        <Card>
                            <CardBody>
                                <CardTitle>
                                    New Here? Create An Account
                                </CardTitle>
                            </CardBody>
                            <CardBody>
                                <Validations @ref="@registerValidationsRef" Mode="ValidationMode.Manual" ValidateOnLoad="false">
                                    <Field>
                                        <FieldLabel>Name</FieldLabel>
                                        <TextEdit Placeholder="Enter Your Name" />
                                    </Field>
                                    <Validation Validator="ValidateEmail">
                                        <Field>
                                            <FieldLabel>Email</FieldLabel>

                                            <TextEdit Placeholder="Enter Your Email">
                                                <Feedback>
                                                    <ValidationNone>Please Enter your email.</ValidationNone>
                                                    <ValidationSuccess>Email is valid</ValidationSuccess>
                                                    <ValidationError>Enter Valid email </ValidationError>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Field>
                                        <FieldLabel>Password</FieldLabel>
                                        <TextEdit Placeholder="Enter Password" />
                                        <FieldHelp>Password Strength: <Text TextColor="TextColor.Danger">Strong</Text></FieldHelp>
                                    </Field>
                                </Validations>
                            </CardBody>
                            <CardBody>
                                <Button Color="Color.Primary" Clicked="@OnRegisterClicked">
                                    Create Account
                                </Button>
                            </CardBody>
                        </Card>
                    </TabPanel>
                </Content>
            </Tabs>
        </Column>
    </Row>
</Container>

@code {
    Validations loginValidationsRef;
    Validations registerValidationsRef;

    bool rememberMe;
    string SelectedTab = "login";
    string Email;

    void ValidateEmail( ValidatorEventArgs e )
    {
        var email = Convert.ToString( e.Value );
        e.Status = string.IsNullOrEmpty( email ) ? ValidationStatus.None :
            email.Contains( "@" ) ? ValidationStatus.Success : ValidationStatus.Error;
    }

    async Task OnLoginClicked()
    {
        if ( await loginValidationsRef.ValidateAll() )
        {
            // do the real login here

            await loginValidationsRef.ClearAll();
        }
    }

    async Task OnRegisterClicked()
    {
        if ( await registerValidationsRef.ValidateAll() )
        {
            // do the real login here

            await registerValidationsRef.ClearAll();
        }
    }
}
